<nav>
  <a [routerLink]="[{outlets:{admin:['orders']}}]" routerLinkActive="link_active">{{'admin.nav.orders' | translate}}</a>
  <a [routerLink]="[{outlets:{admin:['items']}}]" routerLinkActive="link_active">{{'admin.nav.items' | translate}}</a>
  <a [routerLink]="[{outlets:{admin:['filters']}}]" routerLinkActive="link_active">{{'admin.nav.filtres' | translate}}</a>
  <a [routerLink]="[{outlets:{admin:['users']}}]" routerLinkActive="link_active">{{'admin.nav.users' | translate}}</a>
</nav>

<router-outlet name="admin"></router-outlet>