<footer>
  <div class="footer-links">
    <div class="container footer-flex">
      <div class="footer-flexitem">
        <h3>{{'footer.info.info' | translate}}</h3>
        <ul>
          <li>{{'footer.info.contacts' | translate}}</li>
          <li>{{'footer.info.about' | translate}}</li>
          <li>{{'footer.info.delivery' | translate}}</li>
        </ul>
      </div>
      <div class="footer-flexitem">
        <h3>{{'footer.additional.additional' | translate}}</h3>
        <ul>
          <li>VK</li>
          <li>Instagram</li>
          <li>Facebook</li>
        </ul>
      </div>
      <div class="footer-flexitem">
        <h3>{{'footer.acc.acc' | translate}}</h3>
        <ul>
          <li><a routerLink="/login">{{'footer.acc.log' | translate}}</a></li>

          <li><a routerLink="/register">{{'footer.acc.reg' | translate}}</a></li>
          <li><a routerLink="/profile">{{'footer.acc.acc' | translate}}</a></li>
          <!-- <li><a routerLink="/favorites">Favorites</a></li> -->
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-powered">
    © {{date}} | Powered by <a href="skype:dm8t34">Maksel Dmitriy </a>
  </div>
</footer>