.reg-form{
    width: 400px;
}

.reg-form>form>*{
    width: 100%;
}

.reg-form-title{
    text-align: center;
    font-size: 3rem;
}

.reg-err {
    text-align: center;
    color: rgb(255, 96, 96);
}

.reg-spinner {
    display: flex;
    justify-content: center;
    font-size: 12px;
    height: 50px;
}
.reg-form-pass-err{
    font-size: .6rem;
}

@media(max-width:500px) {
    .reg-form{
        width: 90vw;
    }
}