<ng-container *ngIf="loading; else elseTemplate">
  {{'loading' | translate}}
</ng-container>
<ng-template #elseTemplate>
  <ng-container *ngIf="item; else elsetemp">
    <div class="item-container">
      <div class="images">
        <slideshow #slideshow [imageUrls]="images" [backgroundSize]="'contain'" [showArrows]="images.length>1"></slideshow>
      </div>
      <div class="info">
        <h3>{{item.name}}</h3>
        <h6 *ngIf="!item.active">{{'item.notAv' | translate}}</h6>
        <h4>{{'item.brand' | translate}}: {{item.brand}}</h4>
        <h4>{{'item.color' | translate}}: {{item.color}}</h4>
        <h4>{{'item.size' | translate}}: {{item.size}}</h4>
        <h2>{{'item.price' | translate}}: ${{item.price}}</h2>
        <ng-container *ngIf="inCart; else elseTemplate">
          <button (click)="remove.emit()" [disabled]="!item.active">{{'item.del' | translate}}</button>
        </ng-container>
        <ng-template #elseTemplate>
          <button (click)="add.emit()" [disabled]="!item.active">{{'item.add' | translate}}</button>
        </ng-template>
        <h4>{{'item.desc' | translate}}: <h5>{{item.description}}</h5>
        </h4>
      </div>
    </div>
  </ng-container>
  <ng-template #elsetemp>
    <div class="error">{{error}}</div>
  </ng-template>
</ng-template>