<div class="order-info">
  <h1>{{title}} {{order.id}}</h1>

  <form class="" [formGroup]="form" (ngSubmit)=submit()>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input matInput formControlName="phoneNumber" type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <input matInput formControlName="status" type="number" min="0" max="3">
    </mat-form-field>
    <br>
    <button mat-flat-button color="accent" type="submit" [disabled]="(form.invalid)">Update</button>
  </form>
</div>