<div class="order-info">
  <h1>{{'orders.order' | translate}} {{order.id}}</h1>

  <form class="" [formGroup]="form" (ngSubmit)=submit()>
    <mat-form-field>
      <mat-label>{{'orders.table.name' | translate}}</mat-label>
      <input matInput formControlName="name" type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>{{'orders.table.phone' | translate}}</mat-label>
      <input matInput formControlName="phoneNumber" type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>{{'orders.table.address' | translate}}</mat-label>
      <input matInput formControlName="address" type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>{{'orders.table.status' | translate}}</mat-label>
      <input matInput formControlName="status" type="number" min="0" max="3">
    </mat-form-field>
    <br>
    <button mat-flat-button color="accent" type="submit" [disabled]="(form.invalid)">{{'orders.update' | translate}}</button>
  </form>
</div>