<div class="items-box">
  <div class="nav-box">
    <div>{{'admin.items.total' | translate}}: {{items.length}}</div>
    <h3 class="error">{{error}}</h3>
    <div>{{'admin.items.add' | translate}}
      <a [routerLink]="['add']">
        <button mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </a>
    </div>
  </div>
  <div class="items-list">
    <div class="item-header-row">
      <div>Id</div>
      <div>{{'admin.items.name' | translate}}</div>
      <div>{{'admin.items.price' | translate}}</div>
      <div>{{'admin.items.active' | translate}}</div>
      <div>{{'admin.items.actions' | translate}}</div>
    </div>
    <ng-container *ngIf="items.length !== 0; else elseTemplate">
      <div *ngFor="let item of items" class="item-row">
        <div>{{item.id}}</div>
        <div><a [routerLink]="[ '/items', item.id ]" class="link">{{item.name}}</a></div>
        <div>${{item.price}}</div>
        <div>{{item.active}}</div>
        <div>
          <a [routerLink]="['edit',item.id]">
            <div class="item-action item-action__edit">{{'admin.items.edit' | translate}}</div>
          </a>
          <div class="item-action item-action__remove" (click)="deleteItem.emit(item.id)">{{'admin.items.delete' |
            translate}}</div>
        </div>
      </div>

    </ng-container>
    <ng-template #elseTemplate>
      <h3>{{'admin.items.notfound' | translate}}</h3>
    </ng-template>

  </div>
</div>