<h3>{{'profile.pass' | translate}}</h3>
<form [formGroup]="form" (submit)="changePass($event)">
  <div class="pass-container">
    <div>
      <label>{{'account.curpass' | translate}}: </label><input type="password" class="field" maxlength="25"
        formControlName="curPass">
    </div>
    <div>
      <label>{{'account.newpass' | translate}}: </label><input type="password" class="field" maxlength="25"
        formControlName="password">
    </div>
    <div>
      <label>{{'account.confpass' | translate}}: </label><input type="password" class="field" maxlength="25"
        formControlName="confirmPassword">
    </div>
    <input type="submit" [value]="'account.changepass' | translate" [disabled]="(form.invalid)">
  </div>
  <h6>{{message}}</h6>
</form>