<h3>Password</h3>
<form [formGroup]="form" (submit)="changePass($event)">
  <div class="pass-container">
    <div>
      <label>Current password: </label><input type="password" class="field" maxlength="25" formControlName="curPass">
    </div>
    <div>
      <label>New password: </label><input type="password" class="field" maxlength="25" formControlName="password">
    </div>
    <div>
      <label>Repeat password: </label><input type="password" class="field" maxlength="25" formControlName="confirmPassword">
    </div>
    <input type="submit" value="Change password" [disabled]="(form.invalid)">
  </div>
  <h6>{{message}}</h6>
</form>