.items-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
h3{
    text-align: center;
}

@media (max-width:600px){

    .items-container{
        align-items: center;
        flex-direction: column;
    }
}