<div class="item-container">
  <div class="item item-pic">
    <a [routerLink]="[ '/items', item.id ]">
      <img src="{{item.previewImagePath}}" alt="item.name" title="{{item.name}}">
    </a>
  </div>
  <div class="descr">
    <div class="not-active" *ngIf="!item.active">
      Not available
    </div>
    <a [routerLink]="[ '/items', item.id ]">
      <div class="item item-name" title="{{item.name}}">
        {{item.name}}
      </div>
    </a>
    <div class="item">
      ${{item.price}}
    </div>
    <div *ngIf="isLoggedIn">

      <ng-container *ngIf="item.isFavorite; else elseTemplate">
        <button mat-icon-button color="disabled" (click)="removeFav.emit(item.id)">
          <mat-icon color="warn">favorite</mat-icon>
        </button>
      </ng-container>
      <ng-template #elseTemplate>
        <button mat-icon-button color="disabled" (click)="addFav.emit(item.id)">
          <mat-icon>favorite_border</mat-icon>
        </button>
      </ng-template>
      <ng-container *ngIf="item.active">
        <ng-container *ngIf=" inCart; else elseCart">
          <button mat-icon-button color="accent" (click)="removeFromCart.emit(item.id)">
            <mat-icon>remove_shopping_cart</mat-icon>
          </button>
        </ng-container>
        <ng-template #elseCart>
          <button mat-icon-button color="desabled" (click)="addToCart.emit(item.id)">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </ng-template>
      </ng-container>
    </div>
  </div>

</div>