<div class="message-box">
  <div class="messages">
    <div *ngFor="let item of messages"><span class="name">{{item.username}}: </span><span class="message">{{item.message}}</span></div>
  </div>
  <div *ngIf="typing">
    <span *ngFor="let user of users">{{user}} </span>
    {{'chat.typing' | translate}}
  </div>
  <form [formGroup]="form" class="input-box" (submit)="send($event)">
    <ng-container *ngIf="loggedIn; else elseTemplate">


      <input class="input-message" maxlength="100" type="text" formControlName="message" (keypress)="changeInput.emit($event)"
        autocomplete="off">

      <button type="submit" mat-icon-button>
        <mat-icon>send</mat-icon>
      </button>

    </ng-container>
    <ng-template #elseTemplate>
      {{'chat.auth' | translate}}<a routerLink="/login" class="link">{{'chat.log' | translate}}</a>
    </ng-template>
  </form>

</div>