<h3>{{'profile.userinfo' | translate}}</h3>
<form [formGroup]="form" (submit)="changeData($event)">
  <div class="user-data-container">
    <div>
      <label>E-mail: </label><input class="field" type="text" value="{{userData.email}}" readonly>
    </div>
    <div>
      <label>{{'account.info.login' | translate}}: </label><input class="field" type="text" value="{{user.username}}"
        readonly>
    </div>
    <div>
      <label>{{'account.info.fname' | translate}}: </label><input class="field" maxlength="25" formControlName="firstName"
        type="text">
    </div>
    <div>
      <label>{{'account.info.lname' | translate}}: </label><input class="field" maxlength="25" formControlName="surname"
        type="text">
    </div>
    <div>
      <label>{{'account.info.tel' | translate}}: </label><input class="field" maxlength="25" formControlName="phone"
        type="text">
    </div>
    <input type="submit" [value]="'account.info.change' | translate">
  </div>
  <h6>{{error}}</h6>
</form>