<header>
  <div class="header-title">
    <a routerLink="/" class="header-link">STORE</a>
  </div>
  <div class="header-menu">
    <a routerLink="/orders" *ngIf="(loggedIn$ | async) && (isAdmin$ | async)" class="header-link" routerLinkActive="header-link_active">Orders</a>
    <a routerLink="/items" class="header-link" routerLinkActive="header-link_active">Items</a>
  </div>

  <div class="header-auth">
    <ng-container *ngIf="loggedIn$|async; else elseTemplate">
      <a class="cart-button" routerLink="/cart" routerLinkActive="header-link_active">
        <button mat-icon-button>
          <mat-icon matBadge="{{cartCount$ | async}}" matBadgeSize="medium" matBadgeColor="accent">shopping_cart</mat-icon>
        </button>
      </a>
      <a routerLink="/login" class="header-link" routerLinkActive="header-link_active">Log out</a>
    </ng-container>
    <ng-template #elseTemplate>
      <a routerLink="/login" class="header-link" routerLinkActive="header-link_active">Sign in</a>
      <a routerLink="/register" class="header-link" routerLinkActive="header-link_active">Sign up</a>
    </ng-template>
  </div>
</header>