/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

*,::after,::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Didact Gothic", sans-serif;
}

a{
    color:black;
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

.content {
    padding-top: 48px;
    padding-bottom: 48px;
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    overflow: hidden;
}

.content .centered{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width:1400px;
    margin: 0 auto;
}

