<!-- <a [routerLink]="[ '/admin/orders' ]">Back to orders</a> <br> -->
<div class="container order-page">

  <ng-container *ngIf="isPending$ | async; else orderTemplate">
    {{'loading' | translate}}
  </ng-container>
  <ng-template #orderTemplate>
    <app-order-info [order]="order$ | async" (update)="update($event)" class="order-block"></app-order-info>
  </ng-template>

  <ng-container *ngIf="isPendingItems$ | async; else itemsTemplate">
    {{'loading' | translate}}
  </ng-container>
  <ng-template #itemsTemplate>
    <app-order-items-list [orderItems]="orderItems$ | async" class="order-block"></app-order-items-list>
  </ng-template>

</div>